<!DOCTYPE html>

<html lang="<%= lang %>">
<%- include('head')-%>

<body onload="setOptionsValues()" vocab="http://schema.org/" typeof="WebPage" class="page-home">
	<%- include('header')-%>
	<main property="mainContentOfPage" class="container">
		<div class="row profile">
			<div class="col-md-12">
				<h1 property="name" id="wb-cont">FCAC Secure Portal</h1>
			</div>
		</div>

        <p>The Financial Consumer Agency of Canada (FCAC) ensures federally regulated financial entities comply with consumer protection measures, promotes financial education and raises consumers’ awareness of their rights and responsibilities.</p>
        <div class="row">
            <div class="col-md-12 text-center">
                <img
                    src="/images/FCACHomePageImage.jpg"
                    alt="Financial Consumer Agency of Canada overview image"
                    class="img-responsive img-fluid"
                    style="margin-top: 1.5rem;"
                />
            </div>
        </div>

    <%- include('preFooter')-%>
	</main>	
	<%- include('footer')-%>
</body></html>
