<!DOCTYPE html>

<html lang="<%= lang %>">
<%- include('head')-%>

<body onload="setOptionsValues()" vocab="http://schema.org/" typeof="WebPage" class="page-home">
	<%- include('header')-%>
	<main property="mainContentOfPage" class="container">
		<div class="row profile">
			<div class="col-md-12">
				<h1 property="name" id="wb-cont"><%= content_title %> (<%= ui_config.client_label %>)</h1>
			</div>
		</div>

        <p>Sign in or register to access My Account, My Business Account or Represent a Client.</p>
        <div class="well well-sm brdr-rds-0 mrgn-tp-lg">
            <div class="panel panel-default mrgn-bttm-0 brdr-rds-0">
                <div class="panel-body">
                    <ul class="list-unstyled cnjnctn-type-or cnjnctn-md mrgn-tp-lg">
                        <li class="cnjnctn-col">
                            <h2 class="mrgn-tp-sm h4">Sign in to the RP Simulator Portal <span class="wb-inv">: Option 1</span></h2>
                                                    

                            <div class="mrgn-tp-md">
                                <p><a class="btn btn-primary btn-lg btn-block p-sm-3 mya" href="http://localhost:8080/rpsim/signinpage/en" rel="noreferrer noopener"><span class="h4">Sign In<span class="wb-inv">: Sign in</span></span></a></p>
                            </div>

                        </li>
                        <li class="cnjnctn-col">
                            <h2 class="mrgn-tp-sm h4">Register for FCAC Secure Portal <span class="wb-inv">: Option 2</span></h2>
                            <div class="mrgn-tp-md">
                                <p>
                                    <!--<a class="btn btn-default btn-lg btn-block p-sm-3 mya" href="http://localhost:8080/rpsim/signinpage/en" rel="noreferrer noopener"><span class="h4"></span>Register</span></a>-->
                                    <a 
                                        class="btn btn-default btn-lg btn-block p-sm-3 mya" 
                                        id="RegisterInApp" 
                                        href="/auth/<%= oidc_clients[2].name %>" 
                                        onclick="submitWithQueryString(this)"
                                        >
                                        <span class="h4"></span>Register</span></a>


                                </p>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    <%- include('preFooter')-%>
	</main>	
	<%- include('footer')-%>
</body></html>
